﻿@{
    ViewBag.Title = "Home Page";
}

<h1 class="text-center">Home Page</h1>
<div class=" text-center">
    <div class="card">
        <div class="card-header">
            <h2>
                Wellcome to project management point of students
            </h2>
        </div>
    </div>
</div>