﻿@model project.Models.Account

@{
    ViewBag.Title = "Login";
}

<h2 class="text-center">Login Page</h2>
<div>
    <h3 class="text-center">
        <!--Show details are saved successfully message-->
        @TempData["SMS_REGISTER"]
    </h3>
    <div class="form-group-sm container">
        @using (Html.BeginForm("Index", "Home", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            <div style="color:red;">@Html.ValidationSummary()</div>
            <div class="row ">
                <div class="col-lg-5 text-right">@Html.LabelFor(a => a.Username)</div>
                <div class="col-lg-7 ">@Html.TextBoxFor(a => a.Username, new { @class = "form-control" })</div>

            </div>
            <br />
            <div class="col-pd-10">
                <div class="row">
                    <div class="col-lg-5 text-right">@Html.LabelFor(a => a.Password)</div>
                    <div class="col-lg-7">@Html.TextBoxFor(a => a.Password, new { @class = "form-control", type = "Password" })</div>
                </div>
            </div>
            <br />

            <div class="text-center">
                <input type="submit" value="Login" class="btn btn-primary text-center" />
                <hr />
            </div>
        }
    </div>
   
    @Html.ActionLink("Register", "Register", "Home")
</div>