﻿@model project.Models.Account

@{
    ViewBag.Title = "Register";
}

<h1 class="text-center">Register Page</h1>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal text-center">
    <h4>Create Account</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="row">
        <div class="col-lg-5 text-right">
            @Html.LabelFor(model => model.FullName)
        </div>
        <div class="col-lg-7">
            @Html.EditorFor(model => model.FullName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.FullName, "", new { @class = "text-danger" })
        </div>
    </div>
    <br />

    <div class="row">
        <div class="col-lg-5 text-right">
            <label>Birthday</label>
        </div>
        <div class="col-lg-7">
            @Html.EditorFor(model => model.DOB, new { htmlAttributes = new { @class = "form-control", @type = "date" } })
            @Html.ValidationMessageFor(model => model.DOB, "", new { @class = "text-danger" })
        </div>
    </div>
    <br />

    <div class="row">
        <div class="col-lg-5 text-right">
            @Html.LabelFor(model => model.Username)
        </div>
        <div class="col-lg-7">
            @Html.TextBoxFor(model => model.Username, "", new { @class = "form-control", @placeholder = "Email", @type = "email" })
            @Html.ValidationMessageFor(model => model.Username, "", new { @class = "badge badge-danger" })
            @if (ViewBag.error != null)
            {
                <span class="badge badge-danger">@ViewBag.error</span>
            }
        </div>
    </div>
    <br />

    <div class="row">
        <div class="col-lg-5 text-right">
            @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "text-right" })
        </div>
        <div class="col-lg-7">
            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", @type = "password" } })
            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
        </div>
    </div>

    <br />
    <div class="form-group">
        <div class="col-md-offset-2 col-md-8">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to Login", "Login")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
