﻿@model project.Models.Student

@{
    ViewBag.Title = "Delete";
}

<h1 class="text-center">Delete</h1>

<h3 class="text-center">Are you sure you want to delete this?</h3>
<div>
    <hr />
    <table id="table_list" class=" text-center table table-hover" border="1">
        <tr>
            <th class="text-center">Name</th>
            <th class="text-center">Sex</th>
            <th class="text-center">Birthday</th>
            <th class="text-center">ClassName</th>
        </tr>
        <tr>
            <td>
                @Html.DisplayFor(model => model.Name)
            </td>
            <td>
                @Html.DisplayFor(model => model.Sex)
            </td>
            <td>
                @Html.DisplayFor(model => model.DOB)
            </td>
            <td>
                @Html.DisplayFor(model => model.ClassRoom.ClassName)
            </td>
        </tr>
    </table>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List Student", "ListStudents")
        </div>
    }
</div>
