﻿@model project.Models.Point

@{
    ViewBag.Title = "DeletePoint";
}

<h1 class="text-center">DeletePoint</h1>

<h3 class="text-center">Are you sure you want to delete this?</h3>
<div>
    <hr />
    <table id="table_list" class=" text-center table table-hover" border="1">
        <tr>
            <th class="text-center">Fifteen_minutes</th>
            <th class="text-center">Fortyfive_minutes</th>
            <th class="text-center">Semester</th>
        </tr>
        <tr>
            <td>
                @Html.DisplayFor(model => model.Fifteen_minutes)
            </td>
            <td>
                @Html.DisplayFor(model => model.Fortyfive_minutes)
            </td>
            <td>
                @Html.DisplayFor(model => model.Semester)
            </td>
        </tr>
    </table>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List Students", "ListStudents")

        </div>
    }
</div>
