﻿@model IEnumerable<project.Models.StudentPointModel>

@{
    ViewBag.Title = "Details";
}

<h1 class="text-center">Student Details </h1>

@using (Html.BeginForm("Edit", "Student", FormMethod.Post))
{
    @Html.ActionLink("Create", "Create", new { id = TempData["ID"] })
    <div>
        <h3 class="text-center" @TempData["SMS_EDIT_POINT"]></h3>
        <hr />
        <table id="table_list" class=" text-center table table-hover" border="1">
            <tr>
                <th class="text-center">Name</th>
                <th class="text-center">Sex</th>
                <th class="text-center">Birthday</th>
                <th class="text-center">Fifteen Minutes</th>
                <th class="text-center">Fortyfive Minutes</th>
                <th class="text-center">Semester</th>
                <th class="text-center">Full Name Courses</th>
                <th class="text-center">Code Courses</th>
                <th class="text-center">Action</th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.student.Name
                    </td>
                    <td>
                        @if (item.student.Sex == true)
                        {
                            <p>Male</p>
                        }
                        else
                        {
                            <p>Female</p>
                        }
                    </td>
                    <td>
                        @item.student.DOB
                    </td>
                    <td>
                        @item.points.Fifteen_minutes
                    </td>
                    <td>
                        @item.points.Fortyfive_minutes
                    </td>
                    <td>
                        @item.points.Semester
                    </td>
                    <td>
                        @item.course.CourseraName
                    </td>
                    <td>
                        @item.course.CourseraKey
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = @item.points.pointsId }) |
                        @Html.ActionLink("Delete", "DeletePoint", new { id = @item.points.pointsId })
                    </td>
                </tr>
            }
        </table>

    </div>
    @Html.ActionLink("Back to List", "ListStudents")
}
