﻿@*@model IEnumerable<project.Models.StudentPointModel>
*@

@model project.Models.Point

@{
    ViewBag.Title = "Edit";
}

<h2 class="text-center">Edit Your Point</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
<div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        <div class="col-md-10">
            @Html.HiddenFor(model => model.StudentId, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.StudentId, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-10">
            @Html.HiddenFor(model => model.CourseId, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.CourseId, "", new { @class = "text-danger" })
        </div>
    </div>
    

    <div class="row">
        <div class="col-lg-5 text-right">
            @Html.LabelFor(model => model.Fifteen_minutes)
        </div>
        <div class="col-lg-7">
            @Html.EditorFor(model => model.Fifteen_minutes, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Fifteen_minutes, "", new { @class = "text-danger" })
        </div>
    </div>
    <br />

    <div class="row">
        <div class="col-lg-5 text-right">
            @Html.LabelFor(model => model.Fortyfive_minutes)
        </div>
        <div class="col-lg-7">
            @Html.EditorFor(model => model.Fortyfive_minutes, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Fortyfive_minutes, "", new { @class = "text-danger" })
        </div>
    </div>
    <br />

    <div class="row">
        <div class="col-lg-5 text-right">
            @Html.LabelFor(model => model.Semester)
        </div>
        <div class="col-lg-7">
            @Html.EditorFor(model => model.Semester, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Semester, "", new { @class = "text-danger" })
        </div>
    </div>

    <br />
    @Html.HiddenFor(Model => Model.pointsId)
    <div class="row text-center">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
    </div>
</div>
}

@Html.ActionLink("Back to Points Details", "Details", new { id = Model.Student.StudentId }, new { @class = "btn btn-primary", @style = "margin-right:30px" })
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
