﻿@model project.Models.Point

@{
    ViewBag.Title = "HomePage";
}

<h2>HomePage</h2>
<div class="row justify-content-md-start">
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">
                Wellcome to project management point of students
            </div>
        </div>
    </div>
</div>


