﻿@model IEnumerable<project.Models.StudentModel>

@{
    ViewBag.Title = "ListStudents";
}

<h2 class="text-center">List Students</h2>
<hr />
<h3 class="text-center"@TempData["SMS_DELETE_POINT"]></h3>
<h3 class="text-center" @TempData["SMS_DELETE_STUDENT"]></h3>
<table id="table_list" class=" text-center table table-hover" border="1">
    <tr>
        <th class="text-center">Name</th>
        <th class="text-center">Sex</th>
        <th class="text-center">Birthday</th>
        <th class="text-center">Class Room</th>
        <th class="text-center">Department</th>
        <th class="text-center">Action</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.student.Name
            </td>
            <td>
                @if (item.student.Sex == true)
                {
                    <p>Male</p>
                }
                else
                {
                    <p>Female</p>
                }
            </td>
            <td>
                @item.student.DOB
            </td>
            <td>
                @item.classRoom.ClassName
            </td>
            <td>
                @item.department.DepartmentName
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { id = item.student.StudentId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.student.StudentId })
            </td>
        </tr>
    }

</table>
